<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CouponsMapper">
    <insert id="insertOne" keyProperty="id">
        insert into coupons(name, num, full_minus, reduce_price, create_time, create_user, update_time, update_user)
        values(#{name}, #{num}, #{fullMinus}, #{reducePrice}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser});
    </insert>
    <update id="update">

    </update>


    <select id="pageQuery" resultType="com.sky.entity.Coupons">
        select *
        from coupons
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
        </where>
        order by create_time desc;
    </select>


</mapper>
